.fab,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-5x {
  font-size: 5em;
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scaleX(-1);
}
:root .fa-flip-horizontal {
  filter: none;
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-business-time:before {
  content: "\f64a";
}
.fa-chart-bar:before {
  content: "\f080";
}
.fa-chart-line:before {
  content: "\f201";
}
.fa-city:before {
  content: "\f64f";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-headset:before {
  content: "\f590";
}
.fa-info:before {
  content: "\f129";
}
.fa-landmark:before {
  content: "\f66f";
}
.fa-lightbulb:before {
  content: "\f0eb";
}
.fa-money-bill-wave:before {
  content: "\f53a";
}
.fa-phone:before {
  content: "\f095";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-sign-in-alt:before {
  content: "\f2f6";
}
.fa-stopwatch:before {
  content: "\f2f2";
}
.fa-times:before {
  content: "\f00d";
}
.fa-tools:before {
  content: "\f7d9";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-wrench:before {
  content: "\f0ad";
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(../webfonts/fa-brands-400.eot);
  src: url(../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),
    url(../webfonts/fa-brands-400.woff2) format("woff2"),
    url(../webfonts/fa-brands-400.woff) format("woff"),
    url(../webfonts/fa-brands-400.ttf) format("truetype"),
    url(../webfonts/fa-brands-400.svg#fontawesome) format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(../webfonts/fa-regular-400.eot);
  src: url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),
    url(../webfonts/fa-regular-400.woff2) format("woff2"),
    url(../webfonts/fa-regular-400.woff) format("woff"),
    url(../webfonts/fa-regular-400.ttf) format("truetype"),
    url(../webfonts/fa-regular-400.svg#fontawesome) format("svg");
}
.far {
  font-weight: 400;
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(../webfonts/fa-solid-900.eot);
  src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),
    url(../webfonts/fa-solid-900.woff2) format("woff2"),
    url(../webfonts/fa-solid-900.woff) format("woff"),
    url(../webfonts/fa-solid-900.ttf) format("truetype"),
    url(../webfonts/fa-solid-900.svg#fontawesome) format("svg");
}
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.fas {
  font-weight: 900;
}
