@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("/fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("/fonts/Gilroy-ExtraBold.otf");
}

html {
  color: #222;
  font-family: "Gilroy", "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: 300px;
}
section h2 {
  margin-bottom: 4rem;
  font-size: 2.7rem;
  text-align: center;
  margin: 0 auto 4rem auto;
  font-weight: 500;
  text-decoration: underline;
  /* text-decoration-color: #0d47a1; */
  /* line-height: 28px; */
}

#mobile-demo {
  padding-top: 3rem;
}
#mobile-demo .fas,
#mobile-demo .far {
  margin: 0;
}

.navbar-fixed {
  height: 0;
}
nav .brand-logo img {
  width: auto;
  height: 64px;
}

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("/img/bgmain3.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 6rem;
  /* min-height: 100vh; */
  padding-bottom: 5rem;
}

#header #heading {
  font-size: 4.7rem;
  margin-bottom: 3.5rem;
  font-weight: 500;
}
#secondary-heading {
  font-weight: 400;
  font-style: italic;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.advantage-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  /* flex-wrap: wrap; */
}
.advantage-list .advantage {
  text-align: center;
  width: 24%;
  margin-bottom: 3rem;
}

.advantage-list .advantage .fas {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.advantage-list .advantage div {
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 1.1;
}

#services {
  font-size: 18px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/img/bg4.jpeg");
  background-size: 100% auto;
  /* background-repeat: no-repeat; */
  background-position: top;
}
#services .fas {
  font-size: 10rem;
  color: #0d47a1;
  margin: 0 5rem;
}
#services h4 {
  color: #0d47a1;
}
#services .m4 {
  text-align: right;
}

#services .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#services .row .col {
  margin-bottom: 2rem;
}

section#why-us {
  background: linear-gradient(rgba(0, 10, 20, 0.8), rgba(0, 10, 20, 0.8)),
    url("/img/bg2.jpeg");
  background-size: cover;
  background-position: center;
}
section#about {
  background: linear-gradient(rgba(0, 10, 20, 0.7), rgba(0, 10, 20, 0.7)),
    url("/img/bg1.jpeg");
  background-size: cover;
  background-position: center;
  /* color: black; */
}

#whiteback {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)),
    url("/img/bg5.jpeg");
  background-size: cover;
  background-position: center;
  color: black;
  padding-top: 1.5rem;
}

#about .paragraph {
  font-size: 1.35rem;
  text-align: center;
}

#about #facts li img {
  border-radius: 40%;
  width: 170px;
  height: 170px;
}
#about #facts {
  font-size: 1.2rem;
}

h4.small-font {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.facts2 {
  font-size: 1.3rem;
}

.facts2 .col {
  margin-bottom: 2rem;
  /* margin-right: 2rem; */
}

.facts2 img {
  margin-right: 2rem;
}

#about {
  color: #fff;
}

#about ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 17px;
}
#about ul li {
  text-align: center;
  margin: 1rem 0;
  width: 280px;
}
#about ul li .title {
  font-weight: 500;
  text-transform: capitalize;
}

#about ul li .img {
  margin-bottom: 1.5rem;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-list .card {
  height: 385px;
  width: 290px;
  margin: 30px 10px;
}

.product-list .card .card-image {
  height: 260px;
}

#footer {
  font-size: 16px;
}

#footer h5,
#footer h6 {
  font-size: 1.5rem;
  font-weight: 500;
}
#footer h6 {
  font-size: 1.2rem;
}


@media only screen and (max-width: 900px) {
  #header {
    min-height: auto;
  }
  .advantage-list {
    flex-wrap: wrap;
  }
  .advantage-list .advantage {
    width: 48%;
    margin-bottom: 1.5rem;
  }
  #services .m4 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  html {
    text-align: center;
  }
  #header #heading {
    font-size: 4rem;
    font-weight: 500;
  }
  #header {
    padding-top: 5rem;
  }

  #secondary-heading {
    font-size: 1.7rem;
  }
  nav .brand-logo img {
    height: 56px;
  }
  .advantage-list .advantage {
    width: 70%;
  }

  #contact .email,
  #contact .phone {
    font-size: 2rem;
  }
}
